/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0c0c0c;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  color: rgb(65, 196, 216);
  text-align: center;
}

/* Tic-Tac-Toe specific styles */
.square {
  background: #262626;
  border: 4px solid #1cb15f;
  float: left;
  font-size: 80px;
  font-weight: bold;
  line-height: 40px;
  height: 90px;
  margin-bottom: 2px;
  margin-left: 3px;
  text-align: center;
  width: 90px;
  align-self: center;
  margin-top: 0;
}

button,
.status {
  color: rgb(20, 152, 209);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  color: rgb(200, 229, 74);
  font-size: 25px;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-top: 5px;
}

.game-board {
  display: grid;
  text-align: center;
  justify-content: center;
}

.player-x {
  color: rgb(20, 122, 189);
}

.player-o {
  color: rgb(20, 87, 159);
}

ol {
  color: rgb(77, 186, 150);
}

button {
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  border: 0px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(9, 128, 76);
  box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-weight: 400;
  height: 20px;
  gap: 5px;
  transition: all 150ms ease-in-out 0s;
  :hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 97, 73);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px,
      rgb(195 231 202) 0px 0px 0px 3px;
  }
}
